In [1]:
import pandas as pd
import json # The module we need to decode JSON

#### Decode all JSON Columns

In [2]:
df = pd.read_csv("tmdb_5000_movies.csv")

sample_type = type(df["genres"][0])
print(f"The data type before using apply function: {sample_type}\n")

# Column names that contain JSON
json_cols = ['genres', 'keywords', 'production_companies', 'spoken_languages', 'production_countries']


def clean_json(x):
    "Create apply function for decoding JSON"
    return json.loads(x)

# Apply the function column wise to each column of interest
for x in json_cols:
    df[x] = df[x].apply(clean_json)

sample_type2 = type(df["genres"][0])
print(f"The data type after using apply function: {sample_type2}")

The data type before using apply function: <class 'str'>

The data type after using apply function: <class 'list'>

#### One-Hot-Encode all JSON Data

In [3]:
def clean_json2(x):

    # store values
    ls = []

    # loop through the list f dictionaries
    for y in range(len(x[0])):

        # Access each key and value in each dictionary
        for k, v in x[0][y].items():
            # append column names to ls
            ls.append(str(k)+ "_" +str(v))
   
    # create a new column or change 0 to 1 if keyword exists
    for z in range(len(ls)):

        # If column not in the df columns then make a new column and assign zero values while changing the current row to 1
        if ls[z] not in df.columns:
            df[ls[z]] = 0
            df[ls[z]].iloc[x.name] = 1
        else:
            df[ls[z]].iloc[x.name] = 1
    return

print("Original Shape",df.shape)

# Loop over all columns and clean json and create new columns
for x in json_cols:
    df[[x]].apply(clean_json2, axis=1)

print("New Shape", df.shape)

Original Shape (4803, 20)

/Users/mph/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

New Shape (4803, 29111)

In [4]:
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,iso_3166_1_AF,name_Afghanistan,iso_3166_1_AO,name_Angola,iso_3166_1_DO,name_Dominican Republic,iso_3166_1_CM,name_Cameroon,iso_3166_1_KE,name_Kenya
0,237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.avatarmovie.com/,19995,"[{'id': 1463, 'name': 'culture clash'}, {'id':...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{'name': 'Ingenious Film Partners', 'id': 289...",...,0,0,0,0,0,0,0,0,0,0
1,300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://disney.go.com/disneypictures/pirates/,285,"[{'id': 270, 'name': 'ocean'}, {'id': 726, 'na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...",...,0,0,0,0,0,0,0,0,0,0
2,245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{'id': 470, 'name': 'spy'}, {'id': 818, 'name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...",...,0,0,0,0,0,0,0,0,0,0
3,250000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",http://www.thedarkknightrises.com/,49026,"[{'id': 849, 'name': 'dc comics'}, {'id': 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{'name': 'Legendary Pictures', 'id': 923}, {'...",...,0,0,0,0,0,0,0,0,0,0
4,260000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://movies.disney.com/john-carter,49529,"[{'id': 818, 'name': 'based on novel'}, {'id':...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{'name': 'Walt Disney Pictures', 'id': 2}]",...,0,0,0,0,0,0,0,0,0,0